.navigation {
    padding: 25px;
    box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
}
.navigation-row {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}
.navigation-row a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 24px;
    color: #000;
}